## Coursera IBM Data Science Certification
#### SQL Final Assignmnet


##### Understanding three chicago dataseta
##### Load the three datasets into three tables in a SQLite database
##### Execute SQL quires to answer assignmnet questions


#### Understanding the datasets

#### 1. Socioeconomic Indicators in Chicago

##### A detailed description of the dataset and the original dataset can be obtained from the chicago data portal at - https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2

#### 2. Chicago Public Schools

##### A detailed description of the dataset and the original dataset can be obtained from the chicago data portal at - [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

#### 3. Chicago Crime Data

##### A detailed description of the dataset and the original dataset can be obtained from the chicago data portal at - [https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

#### Download the data sets 

#### 1. Chicago Census Data

##### https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

#### 2. Chicago Public Schools

##### https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

#### 3. Chicago Crime Data

##### https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

In [4]:
# to avoid prettytable default error
!pip install ipython-sql prettytable   

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\abid\appdata\roaming\python\python312\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\abid\appdata\roaming\python\python312\site-packages (3.15.1)
Requirement already satisfied: ipython in f:\abid\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in f:\abid\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\abid\appdata\roaming\python\python312\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in f:\abid\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in f:\abid\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in f:\abid\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in f:\abid\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in f:\abid\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in f:\abid\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in f:\abid\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in f:\abid\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in f:\abid\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

### Store the datasets in database tables

##### To analyse the data using SQL, it is first needs to be loaded into SQLite DB. We will create three tables in as under 

#### 1. CENSUS_DATA
#### 2. CHICAGO_PUBLIC_SCHOOLS_DATA
#### 3. CHICAGO_CRIME_DATA

In [5]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("FinalDB.db")
cur = conn.cursor()

In [6]:
!pip install ipython-sql
%load_ext sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\abid\appdata\roaming\python\python312\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\abid\appdata\roaming\python\python312\site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in f:\abid\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in f:\abid\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\abid\appdata\roaming\python\python312\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in f:\abid\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in f:\abid\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in f:\abid\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in f:\abid\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in f:\abid\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in f:\abid\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in f:\abid\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in f:\abid\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in f:\abid\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in f:\abid\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [8]:
census_df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
school_df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
crime_df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")

census_df.to_sql("CENSUS_DATA", conn, if_exists = "replace", index = False)
school_df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", conn, if_exists = "replace", index = False)
crime_df.to_sql("CHICAGO_CRIME_DATA", conn, if_exists = "replace", index = False)

533

In [9]:
#Establishing a connection between SQL magic module(ipython-sql) and my SQL DB (FinalDB.db)
%sql sqlite:///FinalDB.db

### Problem 1 - Find total number of crimes recorded in the crime table

In [11]:
%sql SELECT count(*) as Total_crimes FROM CHICAGO_CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2 - List community area names and numbers with per capita income less than 11000.

In [12]:
%sql select community_area_number, community_area_name, per_capita_income from CENSUS_DATA\
   where per_capita_income < 11000;

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

### Problem 3 - List all case numbers for crime involving minors?(Children are not considered minors for the purpose of crime analysis)

In [13]:
%sql select case_number, primary_type, description from CHICAGO_CRIME_DATA \
   where description LIKE '%minor%';

 * sqlite:///FinalDB.db
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4 - List all kidnapping crimes involving a child

In [16]:
%sql select case_number, primary_type, description from CHICAGO_CRIME_DATA \
  where primary_type = 'KIDNAPPING' \
  and description LIKE '%CHILD%';

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5 - List the kind of crimes that were recorded at schools (No repetition)

In [17]:
%sql select distinct primary_type from CHICAGO_CRIME_DATA \
   where location_description LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6 - List the type of schools along with the average safety score for each type.

In [26]:
%sql select "Elementary, ,iddle, or High School" AS school_type AVG(SAFETY_SCOTRE) AS avg_safety_score from CHICAGO_PUBLIC_SCHOOLS_DATA group by "Elementary, Middle, or High School";

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) near ",": syntax error
[SQL: select Elementary, ,iddle, or High School AS school_type AVG(SAFETY_SCOTRE) AS avg_safety_score from CHICAGO_PUBLIC_SCHOOLS_DATA group by Elementary, Middle, or High School ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Problem 7 - List 5 community areas with highest % of households below poverty line

In [27]:
%sql select community_area_number, community_area_name, percent_households_below_poverty from CENSUS_DATA \
     order by percent_households_below_poverty LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[(9.0, 'Edison Park', 3.3),
 (74.0, 'Mount Greenwood', 3.4),
 (72.0, 'Beverly', 5.1),
 (10.0, 'Norwood Park', 5.4),
 (5.0, 'North Center', 7.5)]

### Problem 8 - Which community is most crime prone? display the community area number only.

In [28]:
%sql select community_area_number from CHICAGO_CRIME_DATA \
     group by community_area_number order by count(*) desc LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

### Problem 9 - Use a sub query to determine the community area number with most number of crimes?

In [30]:
%%sql
SELECT community_area_number
FROM CENSUS_DATA
WHERE community_area_number = (
    SELECT community_area_number
    FROM CHICAGO_CRIME_DATA
    GROUP BY community_area_number
    ORDER BY COUNT (*) DESC
    LIMIT 1
);

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

### Problem 10 - Use the sub qurey to find the name of the community area with the highest index

In [31]:
%%sql
SELECT community_area_name
FROM CENSUS_DATA
WHERE hardship_index = (
    SELECT MAX (hardship_index)
    FROM CENSUS_DATA
);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]